.home h1 {
  font-size: 2rem;
  margin-bottom: 32px;
}

.home > p {
  margin-bottom: 32px;
  font-size: 20px !important;
}

.home p {
  font-size: 2rem;
  font-weight: 400;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 30px;
}

.reset {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.set button {
  margin-left: 10px;
}
